---
---
<div class="border-gray-200 border rounded-lg p-4 shadow-sm bg-gray-50">
  <h2 class="text-xl font-bold mb-2">Important Information</h2>
  <div class="text-sm text-gray-600 mb-4 prose">
    <p>We have a <a href="/conduct">Code of Conduct</a>. Please read it, abide by it, and be excellent to one another. </p>

    <p>If you're unwell, please stay home. This helps us respect everyone's health and wellbeing. We've a <a href="/health">a short policy document</a> you can read too.</p>
    
    <p>Sold out but you can't make anymore? Just let us know or cancel your RSVP via Luma. We appreciate the heads up to help someone else attend instead.</p>
  </div>
  

</div>