---
import NavigationItem from "../components/NavigationItem.astro";
---
<div class="flex flex-col w-full space-y-2.5 ">
    <NavigationItem href="/" label="Home" />
    <!-- <NavigationItem href="/team" label="Meet The Team" /> -->
    <NavigationItem href="/conduct" label="Code of Conduct" />
    <NavigationItem href="/health" label="Health &amp; Wellbeing" />
</div>